
#navbar{
    display: flex;
    justify-content: space-evenly;
}
#search-div{
    width: 80%;

}
#search_input{
    width: 100%;
    border-radius: 35px;
    height: 35px;
    margin-top: 20px;
}
#block-2{
    display: flex;
    gap: 10px;
}
#sidebar{
    border: 1px solid;
    width: 300px;
    padding-left: 30px;
}
#results{
    width: 80%;
    /* border: 1px solid black; */
    height: 400px;

}
.images{
    width: 500px;
    height: 250px;
}